body {
  overflow-y: scroll;
}

// #content-container {
//   margin: auto;
//   margin-right: 2rem;
//   margin-left: 2rem;
// }

#menubar {
  width: 100%;
}

// #blogpost-single-view {
//   padding: 4rem 3rem;
// }

.postlist-card {
  margin: 3rem;
}

.container {
    min-width: 99vw;
}
  
.welcome-banner {
    min-height: 80vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pagination-ul {
    padding: 0;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
}

.postlist-tags {
  margin-bottom: 1rem;
}

.postlist-excerpt {
  margin-bottom: 0.7rem;
}

.content-image {
  max-height: 400px;
  margin: auto;
  
}

#footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}